* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  line-height: 1.5;
  letter-spacing: 0.8px;
  overflow: hidden;
}

@font-face {
  font-family: "starjedi";
  src: url("./font/PressStart2P-Regular.ttf"); /* IE9 Compat Modes */
}
body {
  font-family: "starjedi";
  color: yellow;
  overflow-x: hidden;
}

/* #### index### */

#main {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/starwars1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main__box {
  width: 90%;
  padding-top: 5rem;
  text-align: center;
  margin: auto;
}

/* ### SearchBar ### */

.search {
  position: relative;
  margin: auto;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
  color: black;
}
.search h1 {
  font-size: 4rem;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
  color: black;
}
#div1 {
  min-height: 100px;
  width: 100%;
  margin: auto;
  position: relative;
  perspective: 100px;
}
#div2 {
  text-align: center;
  width: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d; /* Safari 3-8  */
  -webkit-transform: rotateX(20deg); /* Safari 3-8  */
  transform-style: preserve-3d;
  transform: rotateX(20deg);
}

.form__group {
  margin: 8px 0px;
}
.btn {
  display: block;
  width: 80%;
  padding: 10px 0px;
  margin: auto;
  font-family: "starjedi";
  background-color: black;
  border: 1px solid yellow;
  color: yellow;
  transition: all 400ms ease;
}
.btn:hover {
  background-color: yellow;
  color: black;
}
#form__input {
  background-color: black;
  border: 1px solid yellow;
  color: yellow;
  width: 80px;
  font-size: 1rem;
  padding: 2px 2px;
  margin: 0 12px;
  border-radius: 4px;
}
/* ### SearchResult ### */
.card {
  background-color: rgba(255, 255, 255, 0.3);
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 8px;
}
.card ul li {
  padding: 0.2rem 0;
}
.card__header {
  padding: 5px 0px;
  border-bottom: 2px solid black;
}
.card__body {
  text-align: left;
  padding: 12px;
}
.card__footer {
  border-top: 2px solid black;
  padding: 8px 0px;
}

.show__result {
  animation: starwars 1s ease-in forwards;
}

/* ### animations ### */

@keyframes starwars {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ### media queries ### */

@media only screen and (max-width: 900px) {
  .main__box {
    padding-top: 0.5rem;
  }
  .card {
    width: 100%;
    font-size: 0.7rem;
  }
  .card h1,
  .card h2 {
    font-size: 1.5rem;
  }
  #div2 {
    position: relative;
  }
}
